DEBUG=True
SECRET_KEY=django-insecure-habotconnect-lsa-booking-secret-key-change-in-prod
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]

# Database settings
USE_SQLITE=True
DATABASE_NAME=habotconnect
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432

# External Mock Payment Gateway URL
PAYMENT_API_URL=https://api.habotconnect-mock-payment.com/v1/charge
